# Visual Studio
.vs/
.vscode/

# Build outputs
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / IntelliJ
.idea/

# OS files
Thumbs.db
.DS_Store

# NuGet
*.nupkg
packages/

# Logs
*.log
